.btn {
    @include shadow;
    @include btn-background;
    background-color: $color-primary;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: map-get($color-text, btn);
    font-size: map-get($font-size, btn);
    font-weight: 700;
    letter-spacing: .05rem;
    padding: 1rem 2rem;
    text-decoration: none;
    &:hover {
        @include shadow(0.5);
        @include btn-background($lighten-color);
        background-color: lighten($color-primary, $lighten-color);
    }
    &:active {
        position: relative;
        top: 1px;
    }
    &--cmd {
        width: fit-content;
        padding: 1rem 3.5rem;
        align-self: center;
    }
}