.gradient {
    width:0;
    height:0;
    position: absolute;
}
.cover {
    object-fit: cover;
    height: 27rem;
    width: 100%;
}
.menu {
    background: map-get($color-background, rest);
    padding: 3.2rem 2.4rem 8rem;
    border-radius: 4.8rem 4.8rem 0 0;
    margin-top: -4.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    &__heading{
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: map-get($font-size, menu__heading);
    }
    &__like {
        margin: .5rem 5%;
        @extend %like;
        &-icon{
            @extend %like-icon;
            &--full {
                @extend %like-icon--full;
                @extend %like-icon--full-transition;
                path {
                    @extend %like-icon--full-color;
                }
            }
        }
		&:hover &-icon--full {
			@extend %like-icon--full-hover;
		}
    }
}
.dish {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @extend %dish-loads-delays;
    &__heading {
        font-weight: 400;
        width: 4.8rem;
        height: 2.7rem;
        border-bottom: 0.4rem solid $color-tertiary;
    }
    &__card {
        @include shadow;
        @extend %ellipsis;
        display: flex;
        cursor: pointer;
        background: map-get($color-background , rest__card);
        border-radius: 1.9rem;
        padding: 1.3rem 1.1rem;
        @extend %dish-loads;
        &:hover {
            .dish__select {
                @extend %dish-select-margin;
            }
            .dish__select-icon {
                @extend %dish-select-icon-end;
            }
        }
    }
    &__info {
        @extend %ellipsis;
        flex: 1;
    }
    &__name {
        @extend %ellipsis;
        margin-bottom: .5rem;
    }
    &__description {
        @extend %ellipsis;
    }
    &__price {
        align-self: flex-end;
        font-weight: 900;
        margin-left: 1.6rem;
    }
    &__select {
        background-color: #99e2d0;
        margin: -1.6rem -7.5rem -1.6rem 1.6rem;
        width: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %dish-select;
    }
    &__select-icon {
        height: map-get($font-size, process__icon);
        color: map-get($color-text, badge);
        @extend %dish-select-icon-start;
    }
}