/* Styles pour les pages restaurants */

.gradient {
    width:0;
    height:0;
    position: absolute;
}
.cover {
    object-fit: cover;
    width: 100%;
    height: 27rem;
    @include tablets {
        height: 34rem;
    }
    @include desktop {
        height: 41rem;
    }
}
.menu {
    background: map-get($color-background, rest);
    border-radius: 4.8rem 4.8rem 0 0;
    margin-top: -4.8rem;
    position: relative;
    &__container {
        @extend %max-width;
        padding: 3.2rem 5% 8rem;
        
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @include tablets{
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    }
    &__heading{
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: map-get($font-size, menu__heading);
        @include tablets{
            width: 100%;
        }
    }
    &__like {
        margin: .5rem 1.6rem;
        @extend %like;
        &-icon{
            @extend %like-icon;
            &--full {
                @extend %like-icon--full;
                @include like-icon--full-transition;
                path {
                    @extend %like-icon--full-color;
                }
            }
        }
		&:hover &-icon--full {
			@extend %like-icon--full-hover;
		}
    }
    &__cmd {
        text-align: center;
        width: 100%;
        padding-top: 2rem;
    }
}
.dish {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @extend %dish-loads-delays;
    @include tablets {
        width: 47%;
    }
    @include desktop {
        width: 30%;
    }
    &__heading {
        font-weight: 400;
        width: 4.8rem;
        height: 2.7rem;
        border-bottom: 0.4rem solid $color-tertiary;
    }
    &__card {
        @include shadow;
        @extend %ellipsis;
        display: flex;
        cursor: pointer;
        background: map-get($color-background , rest__card);
        border-radius: 1.9rem;
        padding: 1.3rem 1.1rem;
        @extend %dish-loads;
        &:hover {
            .dish__select {
                @extend %dish-select-margin;
            }
            .dish__select-icon {
                @extend %dish-select-icon-end;
            }
        }
    }
    &__info {
        @extend %ellipsis;
        flex: 1;
    }
    &__name {
        @extend %ellipsis;
        margin-bottom: .5rem;
    }
    &__description {
        @extend %ellipsis;
        font-size: 1.4rem;
    }
    &__price {
        align-self: flex-end;
        font-weight: 900;
        margin-left: 1.6rem;
    }
    &__select {
        background-color: #99e2d0;
        margin: -1.6rem -7.5rem -1.6rem 1.6rem;
        width: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %dish-select;
    }
    &__select-icon {
        height: map-get($font-size, process__icon);
        color: map-get($color-text, badge);
        @extend %dish-select-icon-start;
    }
}