/* Animation Like (Coeur) */
%like {
	float: right;
	position: relative;
	height: map-get($font-size, menu__heading);
	width: map-get($font-size, menu__heading);
}
%like-icon {
	height: map-get($font-size, menu__heading);
	position: absolute;
	z-index: 0;
}
%like-icon--full {
	z-index: 1;
	transform: scale(0);
	width: 100%;
}
@mixin like-icon--full-transition {
	transition: all 0.2s linear;
	animation-fill-mode: both;
}
%like-icon--full-color {
	fill: url(#gradient);
}
%like-icon--full-hover {
	transform: scale(1.01);
}

/* Animation Selection du plat */
$dish-select-delay: 0.1s;
$dish-select-duration: 0.4s;
%dish-select-margin {
	margin-right: -1.1rem;
}

%dish-select {
	transition-duration: $dish-select-duration + $dish-select-delay;
}
%dish-select-icon-start {
	transform: rotate(-270deg);
	transition-duration: $dish-select-duration;
	transition-delay: $dish-select-delay;
	animation-fill-mode: both;
}
%dish-select-icon-end {
	transform: rotate(0);
}

/* Animation chargelment du Menu des Restaurant */
%dish-loads {
	animation-name: dish-loads;
	animation-duration: 1s;
	animation-fill-mode: both;
}
%dish-loads-delays {
	@for $i from 2 through 4 {
		@for $j from 2 through 5 {
			&:nth-child(#{$i}) .dish__card:nth-child(#{$j}) {
				animation-delay: calc((#{4 * $i+$j} - 9) * 0.1s);
			}
		}
	}
}
@keyframes dish-loads {
	0% {
		transform: translate(0, 0.8rem);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

/* Loader */

%loader__spinner-befor-after {
	content: "";
	position: absolute;
	border-radius: 50%;
	border: 8px solid transparent;
}

.loader {
	position: fixed;
	z-index: 999;
	display: flex;
	min-height: 100%;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.9);
	animation: loader .1s linear 2.9s both;
	&__spinner {
		position: relative;
		width: 15rem;
		height: 15rem;
		border-radius: 100%;
		border: 8px solid transparent;
		border-top: 8px solid $color-primary;
		animation: spinner 2s linear infinite;
		&::before {
			@extend %loader__spinner-befor-after;
			top: .5rem;
			left: .5rem;
			right: .5rem;
			bottom: .5rem;
			border-top-color: $color-secondary;
			animation: spinner 3.5s linear infinite;
		}
		&::after {
			@extend %loader__spinner-befor-after;
			top: 2rem;
			left: 2rem;
			right: 2rem;
			bottom: 2rem;
			border-top-color: $color-tertiary;
			animation: spinner 1.75s linear infinite;
		}
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes loader {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}
