$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

#gradient {
    --color-stop-1: #FF79DA;
    --color-stop-2: #9356DC;
}

$lighten-color: 3%;
$shadow-opacity: .2;

$color-text: (
    location: #353535,
    explore-restaurants: #4d4d4d,
    process__icon: #7e7e7e,
    btn: #fff,
    badge: #fff,
    rest__new: #008766,
    rest__card: #000,
    footer__logo: #fff
);

$color-background: (
    location: #eaeaea,
    process__card: #f6f6f6,
    rest: #f6f6f6,
    rest__card: #fff,
    rest__new: #99e2d0,
    footer: #353535
);

$font-size: (
    header__logo: 1.8rem,
    header__back: 1.2rem,
    location: 1rem,
    h1: 1.6rem,
    h2: 1.2rem,
    text: 1.1rem,
    btn: 1rem,
    process__icon: 1.3rem,
    badge: .8rem,
    rest__new: .8rem,
    rest__icon: 1.5rem,
    footer__logo: 1.6rem,
    footer__icon: 0.9rem,
    menu__heading: 1.8rem
);