$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

#gradient {
    --color-stop-1: #FF79DA;
    --color-stop-2: #9356DC;
}

$lighten-color: 3%;
$shadow-opacity: .2;

$color-text: (
    location: #353535,
    explore-restaurants: #4d4d4d,
    process__icon: #7e7e7e,
    btn: #fff,
    badge: #fff,
    rest__new: #008766,
    rest__card: #000,
    footer__logo: #fff
);

$color-background: (
    location: #eaeaea,
    process__card: #f6f6f6,
    rest: #f6f6f6,
    rest__card: #fff,
    rest__new: #99e2d0,
    footer: #353535
);

$font-size: (
    header__logo: 2.9rem,
    menu__heading: 2.9rem,
    
    h1: 2.6rem,
    footer__logo: 2.6rem,

    process__icon: 2.1rem,
    
    header__back: 1.9rem,
    h2: 1.9rem,
    
    text: 1.8rem,

    location: 1.6rem,
    btn: 1.6rem,
    
    footer__icon: 1.4rem,
    
    badge: 1.3rem,
    rest__new: 1.3rem,
);

%ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}