.footer {
	background: map-get($color-background, footer);
	&__container {
		@extend %max-width;
		padding: 3.2rem calc(5% + 1rem);
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
	&__logo {
		color: map-get($color-text, footer__logo);
		height: map-get($font-size, footer__logo);
		width: calc( #{map-get($font-size, footer__logo)} * 5.76)
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: .8rem;
		>:nth-child(-n+2) {
			margin-left: 2.4rem;
		}
	}
	&__link {
		color: map-get($color-text, footer__logo);
		text-decoration: none;
	}
	&__icon {
		height: map-get($font-size, footer__icon);
		vertical-align: middle;
		position: absolute;
		margin-left: -2.4rem;
		margin-top: .2rem;
	}
}