.header {
	box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, .2);
	z-index: 1;
	&__container {
		@extend %max-width;
		padding: 2rem 0 1.4rem;
		text-align: center;
		position: relative;
	}
	&__logo {
		height: map-get($font-size, header__logo);
	}
	&__back {
		width: map-get($font-size, header__back);
		position: absolute;
		left: 2.4rem;
		top: 2.1rem;
		color: map-get($color-text, location);
	}
}